.menu{
 margin-top:50px;
 
}

.clor{
  background-color: #f8f9fa !important;;
  color: #f8f9fa;
}

.menu1{
    
    margin-top: 30px;
    margin-bottom: 100%;
   
}

ion-icon {
    --ionicon-stroke-width: 26px;
  }

.displa{
    font-family: Arial;
    font-size: .875rem;
    background-color: #440b12;
    border-style: solid;
    color: #ffffff;

}
.text_c {
    font-family: Arial;
    font-size: .875rem;
    color: #ffffff;
}

.title_2 {
color: #f80031;
}

@media (min-width:992px) {    
  .vertical-nav {
      position: fixed;
      top: 56px;
      left: 0;
      width: 261px;
      height: 100%;
      
      
      overflow-y: auto;
      padding-top: 30px;
    }
}

